# ignore pdflatex outputs
*.aux
*.log

# ignore aspell backup files
*.bak

# intermediate compiled files
*.fls
*.fdb_latexmk

# ignore synctex files
*.synctex*
# garbage mac files:
.DS_Store

# Files produced by epydoc
*.dvi
*.out
*.idx
*.ilg
*.ind
*.ps
*.toc
